schemas:
  - name: "wordpress"
    path: "https://raw.githubusercontent.com/k1LoW/tbls-ask/main/testdata/wordpress.json"
  - name: "test"
    path: "https://raw.githubusercontent.com/k1LoW/tbls/main/sample/mysql/schema.json"